@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: "Lexend Deca", "Big Shoulders Display", sans-serif;
  font-size: 15px;
}
html,
body,
p {
  margin: 0;
}
a {
  text-decoration: none;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1em;
  width: 100%;
  height: 100vh;
  background-color: hsl(0, 0%, 95%);
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  color: hsl(0, 0%, 100%);
}
.item {
  position: relative;
  width: 300px;
  height: 100%;
  padding: 50px;
}
.title {
  font-family: "Big Shoulders Display";
  font-weight: 700;
  font-size: 2em;
  margin: 1.5rem 0;
}
.details {
  margin-bottom: 100px;
  line-height: 1.5em;
}
.sedans {
  background-color: hsl(31, 77%, 52%);
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
.sedans a {
  color: hsl(31, 77%, 52%);
}
.suvs {
  background-color: hsl(184, 100%, 22%);
}
.suvs a {
  color: hsl(184, 100%, 22%);
}
.luxury {
  background-color: hsl(179, 100%, 13%);
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
.luxury a {
  color: hsl(179, 100%, 13%);
}
.item a {
  position: absolute;
  display: block;
  text-align: center;
  bottom: 2rem;
  width: 140px;
  padding: 0.8rem;
  border-radius: 50px;
  border: solid 3px hsl(0, 0%, 100%);
  background-color: hsl(0, 0%, 100%);
}
.item a:hover {
  color: hsl(0, 0%, 100%);
  background-color: transparent;
}

@media all and (max-width: 875px) {
  body {
    height: auto;
  }
  .container {
    margin-top: 100px;
    flex-wrap: wrap;
    flex-direction: column;
  }
  .item {
    position: relative;
    width: 90%;
    height: auto;
    padding: 50px;
  }
  .sedans {
    border-bottom-left-radius: 0;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
  .luxury {
    border-top-right-radius: 0;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }
}

@media all and (max-width: 450px) {
  .item {
    width: 300px;
  }
}
